/bin
/gen
/.settings
.DS_Store
libs/*.properties
proguard/
.gradle
*.iml
/build
/local.properties
.idea
.floo
.flooignore
/app/pre
/app/pro
/keystore
/domain/build
/data/build
release.keystore
/captures
/app/src/main/java/org/kontalk/locales/generated
/app/src/main/**/strings.xml
/config/translations/translations.zip
/config/translations/temp